.flex {
  display: flex;
}
button {
  margin: 4px;
  width: 120px;
}


.progress-box {
  border: 1px solid #ccc;
  width: 200px;
  background-color: white;
  height: 24px;
  display: inline-flex;
}

.progress-bar {
  display: inline-flex;
  height: 100%;
  background-color: aqua;
}
